<a href="https://colab.research.google.com/github/stevenkhwun/my-repo/blob/main/MiscPythonCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# In Python programming, a string can be enclosed inside single quotes, double quotes, or triple quotes.
print('Hello, Python!')
print("Hello, Python!")
print('''Hello, Python!''')
print('"Hello, Python!"')
print("'Hello, Python!'")

Hello, Python!
Hello, Python!
Hello, Python!
"Hello, Python!"
'Hello, Python!'

In [ ]:
# Python input() function always converts the user input into a string.
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')
sum = num1 + num2
print('The sum of the numbers is', sum)

Enter first number: 67
Enter second number: 689
The sum of the numbers is 67689

In [ ]:
# Convert it into number using int() or float()
sum1 = int(num1) + int(num2)
sum2 = float(num1) + float(num2)
print('The sum of the number is', sum1)
print('The sum of the number is', sum2)

The sum of the number is 756
The sum of the number is 756.0

In [ ]:
# Or using eval() function
num3 = eval(input('Enter first number: '))
num4 = eval(input('Enter second number: '))
sum3 = num3 + num4
print('The sum of the numbers is', sum3)

Enter first number: 67
Enter second number: 689
The sum of the numbers is 756

In [ ]:
# Check if a number is odd or even
num1 = input("Enter a number:")
if (int(num1) % 2) == 0:
  print("{0} is an Even number".format(num1))
else:
  print("{0} is an Odd number".format(num1))

Enter a number:6
6 is Even number

In [ ]:
# Function to check prime number
def PrimeChecking(num):
  # Condition to check given number is more than 1
  if num > 1:
    # For loop to iterate over the given number
    for i in range(2, int(num/2)+1):
      if (num % i) == 0:
        print("The number", num, "is not a prime number.")
        break
    # Else print it as a prime number
    else:
      print("The number", num, "is a prime number.")
  # If the given number is 1
  else:
    print("The number", num, "is not a prime number.")
    print("A prime number (or a prime) is a natural number greater than 1 that is not a product of two smaller natural numbers.")

PrimeChecking(689)

The number 689 is not a prime number.

In [ ]:
# Function to check Armstrong's number
def ArmstrongChecking(num):
  print("An Armstrong's number is an n-digit number equal to the sum of the nth power of its digits.")
  p = len(str(num))
  sum = 0
  for i in range(0,p):
    sum = sum + (int(str(num)[i]))**p
  if sum == num:
    print("The given number", num, "is an armstrong number.")
  else:
    print("The given number", num, "is not an armstrong number.")
  
ArmstrongChecking(9474)

An Armstrong's number is an n-digit number equal to the sum of the nth power of its digits.
The given number 9474 is an armstrong number.

In [26]:
# Function to check Armstrong's number using while loop
def ArmstrongChecking2(num):
  length = len(str(num))
  sum = 0
  arms = num
  while num != 0:
    rem = num % 10
    sum = sum + (rem ** length)
    num = num // 10
  if arms == sum:
    print("The given number", arms, "is an armstrong number.")
  else:
    print("The given number", arms, "is not an armstrong number.")


ArmstrongChecking2(9474)

The given number 9474 is an armstrong number.

In [33]:
# Python program to check whether the given year is a leap year
def LeapYear(Year):
  # Conditions to check if the given year is a leap year
  if((Year % 400 == 0) or
     (Year % 100 != 0) and
     (Year % 4 == 0)):
    print(Year, "is a leap year")
  else:
    print(Year, "is not a leap year")

LeapYear(2100)

2100 is not a leap year

See this [link](https://nrc.canada.ca/en/certifications-evaluations-standards/canadas-official-time/what-years-are-leap-years) to get the definition of leap year.

In [32]:
LeapYear(2004)

2004 is a leap year