<a href="https://colab.research.google.com/github/stevenkhwun/my-repo/blob/main/MiscPythonCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
a = 1, 2, 3, 4, 5
a

(1, 2, 3, 4, 5)

In [6]:
type(a)

tuple

In [7]:
# Reverse the sequence of a tuple
a[::-1]

(5, 4, 3, 2, 1)

In [8]:
a

(1, 2, 3, 4, 5)

In Python programming, a string can be enclosed inside single quotes, double quotes, or triple quotes.

In [10]:
# In Python programming, a string can be enclosed inside single quotes, double quotes, or triple quotes.
print('Hello, Python!')
print("Hello, Python!")
print('''Hello, Python!''')
print('"Hello, Python!"')
print("'Hello, Python!'")

Hello, Python!
Hello, Python!
Hello, Python!
"Hello, Python!"
'Hello, Python!'

In [11]:
# Python input() function always converts the user input into a string.
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')
sum = num1 + num2
print('The sum of the numbers is', sum)

Enter first number: 67
Enter second number: 689
The sum of the numbers is 67689

In [12]:
# Convert it into number using int() or float()
sum1 = int(num1) + int(num2)
sum2 = float(num1) + float(num2)
print('The sum of the number is', sum1)
print('The sum of the number is', sum2)

The sum of the number is 756
The sum of the number is 756.0

In [13]:
# Or using eval() function
num3 = eval(input('Enter first number: '))
num4 = eval(input('Enter second number: '))
sum3 = num3 + num4
print('The sum of the numbers is', sum3)

Enter first number: 67
Enter second number: 689
The sum of the numbers is 756