<a href="https://colab.research.google.com/github/stevenkhwun/my-repo/blob/main/P_BasicCodes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basics

## Quotes

In [ ]:
print("2+2")
print(2+2)

2+2
4

## Getting input

In [ ]:
name = input("Enter your name: ")
name

Enter your name: Steven

'Steven'

In [ ]:
num = eval(input("Enter a number: "))
num

Enter a number: 890.88

890.88

In [ ]:
type(num)

float

## Optional arguments to the print function

**`sep`** - use to change or get rid of spaces that print inserts

In [ ]:
print(1,2,3,4,5, sep='')

12345

In [ ]:
print(1,2,3,4,5, sep='/')

1/2/3/4/5

**`end`** - used to change or get rid of when print jumps to next line

In [ ]:
for i in range(10):
  print(i, end="")

0123456789

In [ ]:
for i in range(10):
  print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

## Math formulas

Some math operators:

|Operator|What it does|Examples|
|:---|:---|:---|
|$**$|Powers|5$**$2=25|
|%|Modulo (remainder)|19%5=4|
|//|Integer division|5//3=1|

Other math operators: absolute value and round functions

In [ ]:
print("The absolute value of -3 is", abs(-3))
print("4/3 rounded to two decimal places is", round(4/3,2))

The absolute value of -3 is 3
4/3 rounded to two decimal places is 1.33

To use common math functions, import them from the **`math`** module. For instance,

In [ ]:
from math import sin, pi
print("The sine of pi is", sin(pi))

The sine of pi is 1.2246467991473532e-16

## Random numbers

Use **`randint(a,b)`** to get a random number from a to b (including a and b)

In [ ]:
from random import randint
x = randint(1, 5)
x

4

# If statements

## Commnon if statements

```Python
if x == 3:                           # if x is 3
if x != 3:                           # if x is not 3
if x >= 1 and x <= 5:                # if x is between 1 and 5
if x == 1 or x == 2:                 # if x is 1 or 2
if name == "elvis":                  # checkin strings
if (x == 3 or x == 5) and y == 2:    # use parens in complicated statements
```

## if/else

```Python
if guess == num:
  print("You got it!")
else:
  print("You missed it.")
```

## if/elif/else

It is useful if something can be one of several possibilities.

```Python
if entry == "yes":
  print("Your total ill is $50.00")
elif entry == "no":
  print("Your total bill is $45.00")
else:
  print("Invalid entry")
```

# For Loops

## Basics

This will print hello 5 times:

In [ ]:
for i in range(5):
  print("hello")

hello
hello
hello
hello
hello

Indentation is used to tell what statements will be repeated. The statement below alternates print A and B 3 times and then prints Bye once.

In [ ]:
for i in range(3):
  print("A")
  print("B")
print("Bye")

A
B
A
B
A
B
Bye

The `i` variable in a for loop keeps track of where your are in the loop. It starts off at 0 and goes to one less than whatever is in the range.

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

## The range statement

Here are some example ranges:

In [1]:
# range(10)
r =[]
for i in range(10):
  r.append(i)
print(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
# range(5, 10)
r = []
for i in range(5, 10):
  r.append(i)
print(r)

[5, 6, 7, 8, 9]

In [3]:
# range(1, 10, 2)
r = []
for i in range(1, 10, 2):
  r.append(i)
print(r)

[1, 3, 5, 7, 9]

In [4]:
# range(10, 0, -1)
r = []
for i in range(10, 0, -1):
  r.append(i)
print(r)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

One tricky thing is that the endpoint of the range is never included in the numbers generated.

# Strings

## String basics

Suppose `s` = abcde Hi fghij

In [18]:
# Creating s
s = "abcde Hi fghij"
s

'abcde Hi fghij'

In [19]:
# Add !! to the end of s
s + "!!"

'abcde Hi fghij!!'

In [20]:
# Replicate an entry, like s = "aaaaa"
"a" * 5

'aaaaa'

In [21]:
# Number of spaces in the string
s.count(" ")

2

In [22]:
# Replaces each 'Hi' with 'Hello'
s.replace("Hi", "Hello")

'abcde Hello fghij'

In [23]:
# Changes s to all caps
s.upper()

'ABCDE HI FGHIJ'

In [24]:
# Location of the first 'a' in s
s.index("a")

0

In [28]:
# See if s has any a's
if "a" in s:
  print("yes")
else:
  print("no")

yes

In [29]:
# See if every character of s is a letter
if s.isalpha():
  print("yes")
else:
  print("no")

no

It is no because `s` includes spaces. See the following example where k includes only letters.

In [32]:
# See if every character of k is a letter
k = "abcdefg"
if k.isalpha():
  print("yes")
else:
  print("no")

no

In [34]:
# See if every character of d is a digit
d = "12345"
if d.isdigit():
  print("yes")
else:
  print("no")

no

In [35]:
# How long s is (including spaces)
len(s)

14